.person
    .info
        h3= person.name
        if person.regional
            h4= person.title +", " + person.where
        else
            h4= person.title 

    img(src="/img/team/"+person.image)
    .bio
        p
            !{person.content}


