@media (max-width: 600px)
    .person
        img
            margin-right 15px
        .bio
            margin-left 0
@media (max-width: 800px)
    .blurredwrap
        display none
    .wrap
        margin-left 0
        padding-left 10px
        padding-right 10px
    .content, aside, .involvetype
        column(12)
        float none


    h1, h2
        font-size 43px
        line-height 60px

    #leader
        padding-top 40px
        min-height 200px

    header
        position static
        padding-top 10px
        width 100%
        h1
            margin 0px auto
            margin-top 0px
            width 100px
            line-height 1

            a
                width 100%
                height 80px

        nav
            width 100%
            a
                display inline
                padding 0 6px
                font-size 14px

    .sponsors li
        height 50px

    .event
        h2
            a
                font-size 80px


@media (max-width: 1000px)
    .person
        width 100%
        float none

    .content
        width 100%
