---
layout: default
---


#content
    .box.white
        .wrap
            .content
                h3 About Pilot
                p Pilot is a national organization that holds hands-on educational events for high school students. Students form teams, brainstorm ideas, work together to bring one of those ideas to life with technology, and then demo and pitch the apps/websites they created for awards and prizes. We engage the local community by bringing in engineers and designers who mentor these students over the course of a day and help them bring their ideas to life. 

                p Through this process students learn how to think creatively, pitch and demo their projects and more practical skills like how to code and design. Most importantly, they learn how to learn.

                h3 What is a Pilot event?
                p A Pilot event is a day long creative competition when people who are always thinking up new ideas come together for a weekend and collaborate to build them. Entrepreneurs, designers, and developers work in teams to create apps for web or mobile platforms&mdash;in our case, these creators are high school students.

                h3 Outreach Initiatives
                p One of Pilot’s main focuses (and one of the core tenants of design thinking and creativity) is bringing together people of different backgrounds. About 1/3 of the attendees at Pilot events are women and about 1/4 come from lower-income backgrounds, which is over triple the industry average for similar events. And we don't just stop at the students. Women comprise of half the mentors and half the judges at each event to give the students strong role models to look up to. We hope to have an equal number of men and women consistently attend our events.


    .box.dark
        .wrap
            .content
                h3 The Pilot Manifesto
                p This is for the creators. The makers. The builders. The innovators. The students who can’t sit still. The ones who dream of forming the future, not just living in it. Here is your playground. Your laboratory. Here is where you can bring your ideas to life. Escape from the classroom. Pioneer a new path. Because this isn’t about a better education. It’s a whole new system.
    
    .box.white
        .wrap
            .content 
                h3 The Pilot Team
                p Pilot is run by a group of college and high school students who are passionate about encouraging and providing young people with the skills to build products and start businesses.

            .people
                each person in getCollection('documents').findAll({where: 0}, [{order: 1}, {title: -1}, {name: -1}]).toJSON()
                    include partials/member
                each person in getCollection('documents').findAll({where: 'San Francisco'}).toJSON()
                    include partials/member
                each person in getCollection('documents').findAll({where: 'Philadelphia'}).toJSON()
                    include partials/member
                each person in getCollection('documents').findAll({where: 'DC'}).toJSON()
                    include partials/member
    



