---
layout: default
---


#content
    .box.white
        .wrap
            .content
                h3 About Pilot
                p Pilot is a national organization that holds hands-on educational events for high school students. Students form teams, brainstorm ideas, work together to bring one of those ideas to life with technology, and then demo and pitch the apps/websites they created for awards and prizes. We engage the local community by bringing in engineers and designers who mentor these students over the course of a day and help them bring their ideas to life. 

                p Through this process students learn how to think creatively, pitch and demo their projects and more practical skills like how to code and design. Most importantly, they learn how to learn.


    .box.dark
        .wrap
            .content
                h3 The Pilot Manifesto
                p This is for the creators. The makers. The builders. The innovators. The students who can’t sit still. The ones who dream of forming the future, not just living in it. Here is your playground. Your laboratory. Here is where you can bring your ideas to life. Escape from the classroom. Pioneer a new path. Because this isn’t about a better education. It’s a whole new system.
    
    .box.white
        .wrap
            .content 
                h3 The Pilot Team
                p Pilot is run by a group of college and high school students who are passionate about encouraging and providing young people with the skills to build products and start businesses.

            .people
                each person in getCollection('documents').findAll({where: 0}, [{order: 1}, {title: -1}, {name: -1}]).toJSON()
                    include partials/member
                each person in getCollection('documents').findAll({where: 'San Francisco'}).toJSON()
                    include partials/member
                each person in getCollection('documents').findAll({where: 'Philadelphia'}).toJSON()
                    include partials/member
                each person in getCollection('documents').findAll({where: 'DC'}).toJSON()
                    include partials/member
    



