---
layout: default
---

div#leader.nomin.box.image.dark(style='background-image: url(/img/mentor.jpg)')
    .wrap.involve
        .content
            h2 Get Involved
            p Pilot relies on bringing together communites that care about preparing the next generation of makers.

#content
    .box.white
        .wrap
            .content
                h3 Mentor
                p At Pilot, we believe that the most important thing you can donate is your time and expertise. As a mentor, you set Pilot events apart as a unique and valuable learning opportunity when you lend your technical expertise, project guidance, and coolness to students.
                p During our events, you help students brainstorm ideas, design their projects, pick technologies to use, provide guidance about collaborating in teams, and help track down bugs.

                p You can help out for all or part of the event and come from a variety of backgrounds both in terms of skill set (designer, developer, product manager, etc.) and occupation (startups, college students, corporations, etc.)

                a(href='/events') Find an event near you 
                | and contact the organizers if you're interested in mentoring.

    .box.grey
        .wrap
            .content
                h3 Sponsor
                p We work closely with our corporate partners to put you in the middle of helping students learn how to get things done.

                p Corporations can sponsor just one event in your local area, or package multiple together, based on the size of your company and where you have offices. <br><span class="small">(starting at $1,000 per event)</span>

                p For larger organizations that focus on STEM initiatives when giving back to the community, we would be happy to talk to you about structuring a yearly partnership. We can help you organize events that allow you to directly interact with our participants and provide engaging volunteer and mentoring experiences for your employees. <a href='mailto:fly@gopilot.org'>Reach out to us</a> about what you’re looking for, and we’ll find a way to make it work! <br><span class="small">(Yearly partnerships will be in the range of $50k-100k per year)</span>
    .box.white
        .wrap
            .content
                h3 Host
                p We don't have a formal process for organizers, but we're always looking to spread to new areas. Send us an email at 
                    a(href='mailto:fly@gopilot.org') fly@gopilot.org
                    |  if you want to help bring Pilot to your city.

