---
layout: default
---

div#leader.nomin.box.image.dark(style='background-image: url(/img/mentor.jpg)')
    .wrap.involve
        .content
            h2 Get Involved
            p Pilot relies on bringing together communites that care about preparing the next generation of makers.

#content
    .box.white
        .wrap
            .content
                h3 Mentor
                p Mentors are what make Pilot events run smoothly. Mentors lend their technical expertise, project guidance, and coolness to students.  
                p At our hackathons, you help students pick technologies to use, provide advice about collaborating on software projects, and help track down bugs. 
                a(href='/events') Find an event near you 
                | and contact the organizers if you're interested in mentoring.

    .box.grey
        .wrap
            .content
                h3 Sponsor
                p We work closely with our corporate partners to put you in the middle of helping students learn how to get things done.

                p Corporations can sponsor just one event in your local area, or package multiple together, based on the size of your company and where you have offices. <br><span class="small">(starting at $1,000 per event)</span>

                p For larger organizations that focus on STEM initiatives when giving back to the community, we would be happy to talk to you about structuring a yearly partnership. We can help you organize events that allow you to directly interact with our participants and provide engaging volunteer and mentoring experiences for your employees. Reach out to us about what you’re looking for, and we’ll find a way to make it work! <br><span class="small">(Yearly partnerships will be in the range of $50k-100k per year)</span>
    .box.white
        .wrap
            .content
                h3 Host
                p We don't have a formal process for organizers, but we're always looking to spread to new areas. Send us an email at 
                    a(href='mailto:fly@gopilot.org') fly@gopilot.org
                    |  if you want to help bring Pilot to your city.

