---
layout: default
---

#content
    .box.white
        .wrap.involve
            .content
                h3 Get Involved
            .involvetype
                h4 Student
                h5 Learning rocks. School, sometimes not so much.
                a(href='events.html') Find an event near you >
            .involvetype
                h4 Mentor
                h5 Co-pilot the future of education
                p The most valuable thing you can donate is your time. Pilot provides the opportunity to influence the world’s next generation of innovators and thought leaders by helping them bring their ideas to life.
                a(href='mailto:fly@gopilot.org') Email us to find a place >
            .involvetype
                h4 Sponsor
                h5 Make sure the next generation knows what you want them to know
                p We work closely with our corporate partners to put you in the middle of helping students learn how to get things done.
                a(href='mailto:fly@gopilot.org') Let us know that you're interested > 
            .involvetype
                h4 Host
                h5 We can't do it without you
                p Interested in hosting a hackathon? Pilot will help you get it done.
                a(href='mailto:fly@gopilot.org') Let's start a movement > 

