---
layout: default
---
<div id="content">
    <div class="box white"><div class="wrap">
            <div class="content">
            <h3>Host a Pilot event</h3>
            <p>We'd love to work together with you to host a Pilot event. Fill out this form to get our conversation started.</p>

    <form action="https://docs.google.com/forms/d/19NYEQp3X8gict_5VePy4PpK5kToFi5dKlIOGq5nzY_o/formResponse" method="POST" id="ss-form" target="_self" onsubmit=""><ol role="list" class="ss-question-list" style="padding-left: 0">
<div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1323129644"><div class="ss-q-title">Name
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1323129644" value="" class="ss-q-short" id="entry_1323129644" dir="auto" aria-label="Name  " aria-required="true" required="" title="">
<div class="error-message" id="2039952339_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item ss-item-required ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_801666326"><div class="ss-q-title">Email
<label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
<span class="ss-required-asterisk">*</span></div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="email" name="entry.801666326" value="" class="ss-q-short" id="entry_801666326" dir="auto" aria-label="Email  Must be a valid email address" aria-required="true" required="" title="Must be a valid email address">
<div class="error-message" id="513130428_errorMessage">Must be a valid email address</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_823996794"><div class="ss-q-title">Phone Number
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.823996794" value="" class="ss-q-short" id="entry_823996794" dir="auto" aria-label="Phone Number  " title="">
<div class="error-message" id="83238407_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1916279049"><div class="ss-q-title">City
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1916279049" value="" class="ss-q-short" id="entry_1916279049" dir="auto" aria-label="City  " title="">
<div class="error-message" id="1493821022_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1441792463"><div class="ss-q-title">Do you have a school or university affiliation? If so, list it here
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1441792463" value="" class="ss-q-short" id="entry_1441792463" dir="auto" aria-label="Do you have a school or university affiliation? If so, list it here  " title="">
<div class="error-message" id="757749801_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1886434502"><div class="ss-q-title">Twitter
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1886434502" value="" class="ss-q-short" id="entry_1886434502" dir="auto" aria-label="Twitter  " title="">
<div class="error-message" id="672329969_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_303107249"><div class="ss-q-title">LinkedIn
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.303107249" value="" class="ss-q-short" id="entry_303107249" dir="auto" aria-label="LinkedIn  " title="">
<div class="error-message" id="11871890_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry">
<h2 class="ss-section-title">Co-organizer 1</h2>
<div class="ss-section-description ss-no-ignore-whitespace"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_357283704"><div class="ss-q-title">Name
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.357283704" value="" class="ss-q-short" id="entry_357283704" dir="auto" aria-label="Name  " title="">
<div class="error-message" id="1352721802_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_260685618"><div class="ss-q-title">Email
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="email" name="entry.260685618" value="" class="ss-q-short" id="entry_260685618" dir="auto" aria-label="Email  Must be a valid email address" title="Must be a valid email address">
<div class="error-message" id="295949903_errorMessage">Must be a valid email address</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1690596025"><div class="ss-q-title">Twitter
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1690596025" value="" class="ss-q-short" id="entry_1690596025" dir="auto" aria-label="Twitter  " title="">
<div class="error-message" id="1482165316_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_342885901"><div class="ss-q-title">LinkedIn
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.342885901" value="" class="ss-q-short" id="entry_342885901" dir="auto" aria-label="LinkedIn  " title="">
<div class="error-message" id="794569820_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-section-header"><div class="ss-form-entry">
<h2 class="ss-section-title">Co-organizer 2</h2>
<div class="ss-section-description ss-no-ignore-whitespace"></div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1443331780"><div class="ss-q-title">Name
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1443331780" value="" class="ss-q-short" id="entry_1443331780" dir="auto" aria-label="Name  " title="">
<div class="error-message" id="1269913379_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_283836579"><div class="ss-q-title">Email
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="email" name="entry.283836579" value="" class="ss-q-short" id="entry_283836579" dir="auto" aria-label="Email  Must be a valid email address" title="Must be a valid email address">
<div class="error-message" id="105646950_errorMessage">Must be a valid email address</div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1241905336"><div class="ss-q-title">Twitter
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1241905336" value="" class="ss-q-short" id="entry_1241905336" dir="auto" aria-label="Twitter  " title="">
<div class="error-message" id="626803501_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_578904241"><div class="ss-q-title">LinkedIn
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.578904241" value="" class="ss-q-short" id="entry_578904241" dir="auto" aria-label="LinkedIn  " title="">
<div class="error-message" id="1101078704_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-select"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_966508641"><div class="ss-q-title">Have you attended a Pilot event before?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<select name="entry.966508641" id="entry_966508641" aria-label="Have you attended a Pilot event before?  "><option value=""></option>
<option value="Yes, as a student">Yes, as a student</option> <option value="Yes, as a mentor">Yes, as a mentor</option> <option value="Yes, as an organizer">Yes, as an organizer</option> <option value="No">No</option></select>
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-date"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2082670944"><div class="ss-q-title">Select your first choice date for your event
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr">It typically takes 3 months of lead time to plan an event in a new city</div></label>
<input type="date" name="entry.2082670944" value="" class="ss-q-date" dir="auto" id="entry_2082670944" aria-label="Select your first choice date for your event It typically takes 3 months of lead time to plan an event in a new city ">
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-date"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1864510120"><div class="ss-q-title">Select your second choice date
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="date" name="entry.1864510120" value="" class="ss-q-date" dir="auto" id="entry_1864510120" aria-label="Select your second choice date  ">
<div class="required-message">This is a required question</div></div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1880170801"><div class="ss-q-title">Please list a couple potential venues
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.1880170801" value="" class="ss-q-short" id="entry_1880170801" dir="auto" aria-label="Please any venue you have you in mind  " title="">
<div class="error-message" id="202009615_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1630371244"><div class="ss-q-title">Please list a couple local organizations that would make good partners/sponsors
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1630371244" rows="8" cols="0" class="ss-q-long" id="entry_1630371244" dir="auto" aria-label="What organizations in your area do you think could be particularly helpful?  "></textarea>
<div class="error-message" id="11263727_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_1880431850"><div class="ss-q-title">How did you find out about Pilot?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.1880431850" rows="8" cols="0" class="ss-q-long" id="entry_1880431850" dir="auto" aria-label="How did you find out about Pilot?  "></textarea>
<div class="error-message" id="2125392006_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-paragraph-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2005322176"><div class="ss-q-title">Why do you want to organize a Pilot event?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<textarea name="entry.2005322176" rows="8" cols="0" class="ss-q-long" id="entry_2005322176" dir="auto" aria-label="Why do you want to organize a Pilot event?  "></textarea>
<div class="error-message" id="421992898_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div> <div class="ss-form-question errorbox-good" role="listitem">
<div dir="ltr" class="ss-item  ss-text"><div class="ss-form-entry">
<label class="ss-q-item-label" for="entry_2136175523"><div class="ss-q-title">Did anyone refer you to this application?
</div>
<div class="ss-q-help ss-secondary-text" dir="ltr"></div></label>
<input type="text" name="entry.2136175523" value="" class="ss-q-short" id="entry_2136175523" dir="auto" aria-label="Did anyone refer you to this application?  " title="">
<div class="error-message" id="223759050_errorMessage"></div>
<div class="required-message">This is a required question</div>
</div></div></div>
<input type="hidden" name="draftResponse" value="[,,&quot;-6521168088109747285&quot;]
">
<input type="hidden" name="pageHistory" value="0">


<input type="hidden" name="fbzx" value="-6521168088109747285">

<div class="ss-item ss-navigate"><table id="navigation-table"><tbody><tr><td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                <input type="submit" name="submit" value="Submit >" id="ss-submit" class="jfk-button jfk-button-action ">
<div class="ss-password-warning ss-secondary-text">Never submit passwords through Google Forms.</div></td>
</tr></tbody></table></div></ol></form>

</div>
</div>
</div>
</div>
